
<main class="cover">
  <h1>Fishing Diary</h1>
  <p>Fishing diary is an application for all fishing enthusiasts who want to keep track on their fishing trips and all those big fishes caught in action.</p>
    <div>
      <form class="loginForm">
        <ul>
          <li><h1>Please Login</h1></li>
          <li><input type="email" placeholder="Email" name="email" required autofocus></li>
          <li><input type="password" placeholder="Password" name="password" required></li>
          <li><input type="button" (click)="checkForm()" value="Login"/></li>
        </ul>
      </form>
    </div>
    <br>
    <a href="register" class="button">Register</a>
</main>


