/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background:#2E9CE6;
  /* background-image: url(./assets/images/background-blue-clean-355808.jpg); */
  padding: 3em;
  font-family: 'Raleway', 'Arial';
  font-size: medium;
  color:#fff;
}

