
<form class="cover">
  <ul>
    <li><h1>Please register</h1></li>
    <li><input type="text" id="inputFirstName" placeholder="Firstname" required autofocus></li>
    <li><input type="text" id="inputLastName" placeholder="Lastname" required></li>
    <li><input type="email" id="inputEmail" class="form-control" placeholder="Email" required></li>
    <li><input type="password" id="inputPassword" class="form-control" placeholder="Password" required></li>
    <li><input type="button" (click)="registerUser()" value="Register"/></li>
  </ul>

</form>
