.cover {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-grid;
  /* display: table-cell; */
  text-align: center;
  vertical-align: middle;
}

ul li{
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type="button"], [type="email"], [type="password"], [type="text"] {
  width: 200px;
  padding: 5px;
  margin: 5px;
}
